@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=M+PLUS+1:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Preahvihear&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    width: 97%;
    min-height: 100vh;
}
main{
    display: flex;
    background-color: antiquewhite;
}